.App-footer {
    padding: 20px 0;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: transparent; /* Remove background color */
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links a {
    color: black;
    text-decoration: none;
}

.social-links a:hover {
    color: #21a1f1;
}

.trademark {
    margin-top: 10px;
    font-size: 0.9em;
    color: black; /* Change text color to black */
}